<div class="container-fluid main-container">

  <p id="notice"><%= notice %></p>


  <div class="venues-container row">
    <h1 align="center" class="index-title">Venues</h1>

    <%= link_to "Add Venue", new_venue_path, class: 'btn add-button' %>
  
    <% @venues.each do  |venue| %>
      <h1> <%= venue.name %></h1>
      <p> <%= venue.rating %> </p>
      <p> <%= venue.address %> </p>
    <% end %>
    <br>
  </div>
    <%= link_to 'New Venue', new_venue_path %>
</div>
