<!DOCTYPE html>
<html>
  <head>
    <title>VenueShark</title>
    <%= csrf_meta_tags %>
		<!-- Custom Fonts -->

    <!-- Plugin CSS -->
   <%= stylesheet_link_tag 'magnific-popup' %>
    <link href="vendor/assets/stylesheets/creative.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>





	<body class="landing">
	  <nav class="navbar"> 
		   <a href= <%= url_for(root_path)%> class="navbar-logo">
		        <%= image_tag 'shark.png' %>
		   <a>
		    <div class="links-container">
		    	<% if current_user %>
						<p class="navbar-link"> Welcome Back, <%= current_user.email %> </p>
		    	<% else %>
		        <%= link_to "Sign In", new_user_session_path, class: "navbar-link" %>
		        <%= link_to "Sign Up", root_path, class: "navbar-link" %>
		      <% end %>
		    </div>
		</nav>
	  <%= yield %>
	</body>
</html>
