<!DOCTYPE html>
<html>
  <head>
    <title>VenueShark</title>
    <%= csrf_meta_tags %>
		<!-- Custom Fonts -->

    <!-- Plugin CSS -->
   <%= stylesheet_link_tag 'magnific-popup' %>
    <link href="vendor/assets/stylesheets/creative.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


<nav class="navbar"> <!-- nav bar -->
    <a href="index.html">
        <%= image_tag 'shark.png' %>
    </a>
    <div class="links-container">
        <a href="collection.html" class="navbar-link">Log In</a>
        <%= link_to "Sign Up", root_path, class: "navbar-link" %>
    </div>
</nav>


  <body class="landing">
    <%= yield %>
  </body>
</html>
